@media only screen and (max-width: 999px){
    body{
        font-size: 18px;
    }
    div.wrapper{
        width: 400px;
    }

    header nav ul li a{
       margin-left: 8px;
       margin-right: 10px;
    }

    .search::placeholder{
        font-size: 150px;
    }

    div.link2{
        display: none;
    }

    hr.hr{
        display: none;
    }
} 

@media only screen and (min-width: 280px) and (max-width:500px){
    input.searchbar{
        width:200%
    }

    header nav ul li a{
        font-size: 13px;
    }

    div.line1{
        flex-direction: column;
    }

    footer{
        
    }

    footer > div.bottom{
        visibility: hidden;
        display: none;
    }

    footer > div.top{
        display: block;
        justify-content: space-between;
        text-align: center;
    }

    footer p.center{
        
    }
}

