
  
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(to right bottom, rgba(31, 31, 30, 0.7), rgba(26, 25, 25, 0.7),rgba(44, 44, 42, 0.7)), url(../images/holdshoe.jpeg);
    letter-spacing: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

body::-webkit-scrollbar{
    width:0.5rem;
}

body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background:rgb(148,134,11) ;
}



header.head{
 background-color: rgb(148,134,11);
 position: fixed;
 width: 100%;
 -webkit-box-shadow: 0px 11px 43px 5px rgba(250,247,249,1);
 -moz-box-shadow: 0px 11px 40px 5px rgba(250,247,249,1);
 box-shadow: 0px 1px 30px 3px rgba(250,247,249,1);
 z-index: 999;
}

nav.linkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}



header nav ul, header nav ul li{
    display: inline;
}
header nav ul li a{
    color: white;
    text-decoration:none ;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

ul li a:hover{
    color:rgb(214, 226, 103);
    font-weight: bold;
    
}

div.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.wrapper{
    
    width: 600px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    z-index: 1;
}
input.searchbar{

    height: 50px;
    width: 600px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #d9dddd;
    position: relative;
    padding-left: 10px;
    
    
}

input.searchbar:focus{
    outline: none;
}

#search{
    color:white;
    position: absolute;
    margin-left: -40px;
    margin-top: -9px;
}

.searchbar::placeholder{
    color: black;
}

#cart{
    color: white;
    text-shadow: 1px 1px 1px black;
    
}
section.title{
    background-color:rgb(148,134,11);
    padding: 6px ;
}

section h3.title{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Ruslan Display', cursive;
    transition: all 2s ease-in-out;
    text-shadow: 2px 2px 2px black, 2px 3px 4px yellow;
    padding-top: 30px;
    margin-bottom: 0px;

}

section h3 span{
    color: gray;
}

hr.hr{
    width: 60%;
    
}
section.title ul, section.title ul li{
    display: inline;
    justify-content: center;
    justify-content: space-evenly;
    
}

div.link2{
    text-align: center;
    
}

div.link2 a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    
}

div.link2 li a {
    font-weight: 100;
    list-style-type: none;
    color: white;
    
}
section.bg-section{
    background: linear-gradient(rgba(214, 204, 204, 0.1), rgba(212, 211, 203, 0.1)), url(../images/shoe4.jpeg) no-repeat no-repeat center center;
    background-size:cover;
    padding-top: 160px;
    padding-bottom: 180px;

}

section.main{
    margin: 20px 10px;
}


section.main > div.head > p{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(148,134,11);
    text-shadow: 5px 6px 6px rgb(148,134,11);
    margin-right: 10px;
    color: whitesmoke;
}

i#arrow{
    color:rgb(230, 230, 28) ;
    float:right;
      
}

div.line1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
div.prod{
    display: flex; 
    background : linear-gradient(rgba(253, 252, 252, 0.9), rgba(233,233,233,0.9));
    border-left: 2px solid rgb(148,134,11);
    border-bottom: 2px solid rgb(148,134,11);
    margin: 10px;
    box-shadow: 5px 0px 2px rgb(148,134,11);
}

div.img{
    width:60%;
    height: 100%;
    overflow: hidden;
}


div.price{
    padding:5px;
    width: 40%;
    padding-top: 5px
}
div.price > p{
    letter-spacing: normal;
    justify-content: center;
    text-align: left;
}

div.price > p s{
    color: teal;
}

div.price > p > button{
    box-shadow: 1px 0px 4px rgb(148,134,11);
    background-color: /*rgb(228, 228, 17);*/gray;
    border: 1px solid rgb(148,134,11);
    border-radius: 3px;
    color: white;
}
div.price > p > button b{
  padding: 5px;
}
div.price > p > span{
    text-decoration: underline;
    color:white;
    text-shadow: 3px 0px 4px black;
} 


